@import "reset.less";
@import "variables.less";

/* ===== Common CSS ========================================================
Author: Team w&w
========================================================================== */
* {
    margin: 0;
    padding: 0;
}

body { //font-family: "Open Sans", sans-serif;
    font-size: 13px;

    font-weight: normal;
}

body.pinstripe {
    background: whiteSmoke;
}

.layout {
    width: @page-width;
    margin: 0 auto;
}

#outer_layout {
    width: 100%;
    float: left;

    background-color: #f5f5f5;
}

#wrapper {
    width: @page-width;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    width: 740px;
    margin: 0 auto 0 auto;
    text-align: left;
}

#inner_wrapper {
    width: @page-width;
    float: left;
    background: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

#header {
    background-color: black;
    width: @page-width;
    position: relative;
    z-index: 999;
    height: 60px;
    #logo {
        font: 4em bold;
        float: left;
        margin-left: 10px;
        width: 300px;
        height: 60px;
        a:visited, a {
            color: @gray-font;
            img {
                max-width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    #nav {
        float: right;
        display: block;
        position: relative;
        margin-right: 10px;
        li {
            float: right;
        }
        ul li a {
            padding: 0 15px;
            line-height: 60px;
            text-decoration: none;
            color: white;
            display: block;
            font-size: 15px;
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
        }
        #aboutLink {
            background: #F6B402;
            background-image: linear-gradient(bottom, rgb(246, 181, 2) 18%, rgb(245, 148, 3) 53%, rgb(245, 213, 3) 0%);
            background-image: -o-linear-gradient(bottom, rgb(246, 181, 2) 18%, rgb(245, 148, 3) 53%, rgb(245, 213, 3) 0%);
            background-image: -moz-linear-gradient(bottom, rgb(246, 181, 2) 18%, rgb(245, 148, 3) 53%, rgb(245, 213, 3) 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(246, 181, 2) 18%, rgb(245, 148, 3) 53%, rgb(245, 213, 3) 0%);
            background-image: -ms-linear-gradient(bottom, rgb(246, 181, 2) 18%, rgb(245, 148, 3) 53%, rgb(245, 213, 3) 0%);

            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.18, rgb(246, 181, 2)), color-stop(0.53, rgb(245, 148, 3)), color-stop(0, rgb(245, 213, 3)));
        }
        #playLink {
            background: #D54403;
            background-image: linear-gradient(bottom, rgb(212, 129, 4) 9%, rgb(212, 70, 4) 72%, rgb(213, 70, 3) 86%);
            background-image: -o-linear-gradient(bottom, rgb(212, 129, 4) 9%, rgb(212, 70, 4) 72%, rgb(213, 70, 3) 86%);
            background-image: -moz-linear-gradient(bottom, rgb(212, 129, 4) 9%, rgb(212, 70, 4) 72%, rgb(213, 70, 3) 86%);
            background-image: -webkit-linear-gradient(bottom, rgb(212, 129, 4) 9%, rgb(212, 70, 4) 72%, rgb(213, 70, 3) 86%);
            background-image: -ms-linear-gradient(bottom, rgb(212, 129, 4) 9%, rgb(212, 70, 4) 72%, rgb(213, 70, 3) 86%);

            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.09, rgb(212, 129, 4)), color-stop(0.72, rgb(212, 70, 4)), color-stop(0.86, rgb(213, 70, 3)));
        }
        #rankingLink {
            background: #9932CC;
            background-image: linear-gradient(bottom, rgb(214, 102, 201) 11%, rgb(173, 51, 204) 46%, rgb(153, 50, 204) 70%);
            background-image: -o-linear-gradient(bottom, rgb(214, 102, 201) 11%, rgb(173, 51, 204) 46%, rgb(153, 50, 204) 70%);
            background-image: -moz-linear-gradient(bottom, rgb(214, 102, 201) 11%, rgb(173, 51, 204) 46%, rgb(153, 50, 204) 70%);
            background-image: -webkit-linear-gradient(bottom, rgb(214, 102, 201) 11%, rgb(173, 51, 204) 46%, rgb(153, 50, 204) 70%);
            background-image: -ms-linear-gradient(bottom, rgb(214, 102, 201) 11%, rgb(173, 51, 204) 46%, rgb(153, 50, 204) 70%);

            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.11, rgb(214, 102, 201)), color-stop(0.46, rgb(173, 51, 204)), color-stop(0.7, rgb(153, 50, 204)));
        }
        #statsLink {
            background: #0CF100;
            background-image: linear-gradient(bottom, rgb(35, 178, 51) 100%, rgb(63, 214, 77) 53%, rgb(95, 255, 108) 0%);
            background-image: -o-linear-gradient(bottom, rgb(35, 178, 51) 100%, rgb(63, 214, 77) 53%, rgb(95, 255, 108) 0%);
            background-image: -moz-linear-gradient(bottom, rgb(35, 178, 51) 100%, rgb(63, 214, 77) 53%, rgb(95, 255, 108) 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(35, 178, 51) 100%, rgb(63, 214, 77) 53%, rgb(95, 255, 108) 0%);
            background-image: -ms-linear-gradient(bottom, rgb(35, 178, 51) 100%, rgb(63, 214, 77) 53%, rgb(95, 255, 108) 0%);

            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, rgb(35, 178, 51)), color-stop(0.53, rgb(63, 214, 77)), color-stop(0, rgb(95, 255, 108)));
        }
        #loginLink {
            background: @facebook-blue;
            background-image: linear-gradient(bottom, rgb(0, 117, 171) 12%, rgb(0, 68, 171) 58%, rgb(0, 11, 172) 84%);
            background-image: -o-linear-gradient(bottom, rgb(0, 117, 171) 12%, rgb(0, 68, 171) 58%, rgb(0, 11, 172) 84%);
            background-image: -moz-linear-gradient(bottom, rgb(0, 117, 171) 12%, rgb(0, 68, 171) 58%, rgb(0, 11, 172) 84%);
            background-image: -webkit-linear-gradient(bottom, rgb(0, 117, 171) 12%, rgb(0, 68, 171) 58%, rgb(0, 11, 172) 84%);
            background-image: -ms-linear-gradient(bottom, rgb(0, 117, 171) 12%, rgb(0, 68, 171) 58%, rgb(0, 11, 172) 84%);

            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.12, rgb(0, 117, 171)), color-stop(0.58, rgb(0, 68, 171)), color-stop(0.84, rgb(0, 11, 172)));
            max-height: 60px;
        }
    }

}

.pressed {
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.4) inset;
}

#wraparound {
    position: relative;
    margin: 0px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);

    z-index: 1000;
/*&:before , &:after {*/
/*content: " ";*/
/*border-top: 11px solid @orangered;*/
/*position: absolute;*/
/*bottom: -11px;*/
/*}*/
/*&:before {*/
/*border-left: 10px solid transparent;*/
/*left: 0;*/
/*}*/
/*&:after {*/
/*border-right: 10px solid transparent;*/
/*right: 0;*/
/*}*/
}

#pageFooter {
    width: @page-width;
    float: left;
    border-top: none;
    height: 33px;
    background: black;
    color: white;
    font-size: 13px;
    position: relative;
    bottom: 0;
    padding-top: 0px;
    padding-bottom: 12px;
    margin-top: 0;
    nav {
        width: auto;
        float: left;
        padding-right: 20px;
        ul {
            width: auto;
            float: left;
            list-style: none;
            li {
                float: left;
                font: 12px;
                padding-left: 20px;
                a, a:visited {
                    color: @gray-font;
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: none;
                }
                li:first-child {
                    padding-left: 0;
                }
            }
        }

    }
}

#license {
    font: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 5px;
    float: right;
}

#designed {
    font: 12px;
    padding-top: 14px;
    padding-bottom: 8px;
    float: left;

}

#license {
    font: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 0px;
    float: right;
}

#designed {
    font: 12px;
    padding-top: 14px;
    padding-bottom: 8px;
    float: left;

}

/* ===== Home Page CSS ========================================================
   Author: Team w&w
   ========================================================================== */
#header .wrapper {
    width: @page-width;
}

#loginPage {
    min-height: 610px;
    background: url("/assets/images/red-pinstripe.png") repeat;
    position: relative;
}

#loginForm {
    background: @loginFormColor;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: @page-width;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);

    position: absolute;
    top: 0;
    left: 189px;

    button, input, img {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: block;
    /*.Border-radius(5px);*/
    /*&:hover {*/
    /*box-shadow: 0 0 5px 5px @facebook-blue;*/
    /*}*/
    }
    button {
        color: white;
        margin-top: 15px;
        margin-left: 49px;
        width: 303px;
        font-size: 15px;
        background-color: @facebook-blue;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.7);
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        .Transition(all, 0.2s);
        &:active {
            box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.7) inset;
            background-color: blue;
        }
    }
    legend {
        width: 100%;
        text-align: center;
        padding: 15px 0 15px 0;
        font-size: 2em;
    }
    input {
        padding: 10px 50px;
        text-align: center;
        font-size: 16px;
    }
}

#themeSelector {
  text-align: center;
  margin-top: 10px;
}

#themeSelector > div{
  display: inline-block;
  margin: 10px;

}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

#username {
    width: 200px;
}

#onError {
    display: none;
}

#onChat {
    display: none;
    width: auto;
    height: 165px;
    padding-left: 10px;
    padding-right: 1px;
}

#buttonPanel {
    margin-left: 10px;
}

#messages {
/*overflow: auto;*/
/*height: 400px;*/
    width: 98%;
    color: black;
    font-weight: bold;
    overflow: overlay;
    max-height: 120px;
}

#questionPanel, #answerPanel {
    margin: 10px;
    padding: 10px;
    display: none;
    position: relative;
    border: 1px solid #000000;
}

#questionAbout, #askQuestions {
    width: 49%;
}

#main {
    width: auto;
    height: 164px;
    position: relative;
    overflow: auto;

}

#talk {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 95%;
    height: 20px;
    color: #000000;
    border-radius: 0;
    margin-bottom: 8px;
}

.message {
    padding: 4px 0;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    position: relative;
    background: gainsboro;
}

.message span {
    width: 70px;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.message p {
    font-size: 14px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.message user {
    width: auto;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: 18px;
}

.message.chat {
    background: whitesmoke;
}

.message.mistake {
    background: #fffe85;
}

.message.start, .message.leave, .message.info {
    background: #D9E7FB;
}

.message.yourCard {
    background: #2873FF;
}

.message.info {
    background: #99ff99;
}

.message.question, .message.guess, .message.end {
    background: #78ff64;
}

.message.answer {
    background: #ffe96e;
}

.message.lie {
    background: #ff6957;
}


/* ===== Game Page CSS ========================================================
Author: Team w&w
========================================================================== */
#guess {
    float: right;
    position: absolute;
    left: 325px;
    z-index: 2;
    top: -58px;
    .Transition(top, 0.3s, linear, 0.1s);
    &:hover {
        top: -50px;
    }
    #guessImage {
        width: 110px;
    }

}

#boardGame {
    position: relative;
    width: 100%;
    float: left;
    margin: 0 auto;
    padding-bottom: 20px;

    background: url("/assets/images/boardBg.png") repeat;

    div.card {
        padding: 8px;
        float: left;
        position: relative;
    /*width: @cardWidth;*/
        height: @cardHeight;
        margin: 5px 4px;

        div.cardInfo {
            background: yellow;

            width: 100%;
            height: 100%;
            float: left;

            border: 5px solid #850;
            .Border-radius(8px);
            box-shadow: 3px 5px 5px 2px rgba(0, 0, 0, 0.5);
            .Transition(box-shadow, 0s);
        /*Enhances box-shadow on hover*/
            &:hover {
                box-shadow: 3px 5px 5px 2px rgba(0, 0, 0, 0.7);

            }

            .cardFront {
                width: 100%;
                height: 100%;
                h2 {
                    color: white;
                }
                img {
                    display: block;
                    margin: 0 auto;
                    max-width: 100px;
                    max-height: 96px;
                }
            }
            .cardBack {
                width: 100%;
                height: 100%;
                float: left;
                background: url("/assets/images/cardBg.png") no-repeat;
                h2 {
                    margin-top: @cardHeight /3;
                    color: yellow;
                }

            }
            h2 {
                font-size: 15px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-family: sans-serif;
                font-weight: bold;
                text-shadow: black 0.1em 0.1em 0.2em;
            }
        }
    }

}

.cardContainer {
    display: inline-block;
    margin-bottom: 20px;
}

#panel {
    position: relative;
    color: black;
    border-top: 1px solid black;
    background: #EAFD5D;
    font-size: 1.5em;
    float: left;
/*border: 1px solid black;*/
    clear: both;
    margin: 10px -10px 0px 0px;
    width: 600px;

    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.3);
    &:before {
        content: " ";
        border-top: 10px solid @orangered;
        position: absolute;
        bottom: -11px;
    }
    &:before {
        border-left: 10px solid transparent;
        left: 0;
    }

}

#cheatCounter {
    position: relative;
    bottom: 100px;

    font-size: 1.5em;
    text-shadow: 0 -1px #d0284b, 0 1px #f96080;
    color: black;

    background: #f43059;

    float: right;
    clear: both;

    padding: 10px 5px 10px 5px;
    margin: -70px 10px 0px -10px;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);

/*Wraparound ribbon*/
    &:after {
        content: " ";
        border-top: 11px solid @orangered;
        position: absolute;
        bottom: -11px;
    }
    &:after {
        border-right: 10px solid transparent;
        right: 0;
    }

/*So that h4 and h3 show inline*/
    h4 {
        float: left;
    }
    h3#lies {
        float: right;
    }
}

#askBt, #infoBt, #yesBt, #noBt {
    color: black;
    background-color: #ACA4A4;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    width: 49%;
    height: 27px;
    .Transition;
}

#askBt {
    width: 100%;
    margin-top: 10px;
}

#askBt:hover, #infoBt:hover, #yesBt:hover, #noBt:hover {
    color: white;
    background-color: #f43e46;
}

#yesBt:hover {
    background-color: #36A236;
}

.btn {
    width: 70px;
}

#answerPanel {
    display: none;
}

/* ===== Ranking Page CSS ========================================================
   Author: Team w&w
   ========================================================================== */
#rankingRoom {
    width: 100%;
    margin: 0 auto -80px auto;
    padding-bottom: 75px;
    padding-top: 20px;

    background: #474747 url("/assets/images/grayBg.png") repeat;

    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) inset, 0px -5px 5px rgba(0, 0, 0, 0.3) inset;

    display: none;
}

#closeRanking {
    text-align: right;

    font-size: 56px;

    float: right;
    margin-top: -88px;
    margin-right: 17px;

    a, a:visited {
        color: #222;
        text-decoration: none;
    }
    a:hover, a:active {
        color: #111;
    }
}

#rankingTitle {
    font-size: 64px;
    text-align: center;
}

div#rankingTitle, #closeRanking {

    font-family: inherit;
    font-weight: bold;

    color: #222;
    text-shadow: 0px 2px 3px #555;

    height: 85px;
    line-height: 75px;
}

#rankingRoom table {
    width: 80%;
    margin: 15px auto 80px auto;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);

    thead th {
        font-weight: bold;
    }
    thead, tfoot {
        background: gray;

        font-size: 14px;
        th {
            text-align: center;
            color: #f5f5f5;
            border: 1px solid #666;
        }
    }

    .row

:nth-child(even) {
    background: #f5f5f5;
}

.row:nth-child(odd) {
    background: none;
    color: white;

}

    }

.row:nth-child(odd) {
    background: none;
    color: white;

}

/* ===== About Page CSS ========================================================
   Author: Team w&w
   ========================================================================== */
#aboutRoom {
    display: none;
    padding: 40px 15px 80px 15px;
    position: relative;

    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) inset, 0px -5px 5px rgba(0, 0, 0, 0.3) inset; //background: url('/assets/images/aboutBg.jpg') repeat center center;
    background-color: whitesmoke;

    color: #666;
}

#profileRoom {
  display: none;
  padding: 40px 14px 80px 15px;
  position: relative;

  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) inset, 0px -5px 5px rgba(0, 0, 0, 0.3) inset; //background: url('/assets/images/aboutBg.jpg') repeat center center;
  background-color: whitesmoke;

  color: #666;
}

.roomTitle h1, #aboutRoom h4, #profileRoom h4, #profileRoom h6 {
    text-align: center;

}

.roomTitle {
    margin-top: 13px;
    margin-bottom: 35px;
}

.roomTitle h1 {
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;

}

.roomContent {
    text-align: justify;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-bottom: 10px;
    h4 {
        color: #666666;
    }
    h6{
        color: #666666;
    }
}

.closeRoom {
    text-align: right;
    font-size: 56px;
    margin-right: 17px;
    .close {
        font-size: 56px;
    }
}

@import "helpers.less";
@import "print.less";