
@main(null) {
<div class="card">
                       <div class="cardInfo">
                           <img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
<div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
<div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
<div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
<div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
<div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
<div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
<div class="card">
                       <div class="cardInfo">
                           <img src="photo.jpeg"><img>
                               </div>
                   </div>
}

