
@main () {
    <section id="about" class="layout">
            <p>
               Who Is Who? is an online 2 player game.</br>
               Objectives:
               By asking questions about characters, you have to narrow down your options to try to figure out your opponents
               character before they guess yours!
                Cheating:
                In Who is Who? you are allowed to lie in your answers, but <strong>BEWARE</strong>, at the end of the game,
                if you lied more than your opponent, you lose!
                How to play:

            </p>
    </section>
}

