
@main(null) {
<div id="boardGame" onclick="hideLoginForm()">
<div class="card">
                       <div class="cardInfo">
                           <img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
                   <div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
<div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
<div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
<div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
<div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
<div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
<div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>
<div class="card">
                       <div class="cardInfo">
                           <img src=""><img>
                               </div>
                   </div>

</div>
}

