@(username: String)

<!--
 * User: Jose Gonzalez
 * Date: 11/10/13
 * Time: 8:34 AM
-->

@main(username) {
<script>var globalPlayer = "@username";</script>

<input id="WSocketPath" value="@routes.Application.game(username, "vid").webSocketURL(request)" style="display: none;">

<div id="onError" class="alert-message error">
    <p>
        <strong>Oops!</strong> <span></span>
    </p>
</div>

<div id="boardGame">

    <div id="guess" onclick="guessCard()">
        <img id="guessImage" src='@routes.Assets.at("images/guessOrange.png")'>
    </div>

    <div class="cardContainer">
        <div class="card span2">
            <div id="face1" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/Ash.jpg")'><img>
                    <h2>Ash</h2>
                </div>
                <div class="cardBack"><h2>Ash</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face2" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/Bayonetta.jpg")'><img>
                    <h2>Bayonet</h2>
                </div>
                <div class="cardBack"><h2>Bayonet</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face3" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/BoRaiCho.jpg")'><img>
                    <h2>Bo' Rai</h2>
                </div>
                <div class="cardBack"><h2>Bo' Rai</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face4" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/Bowser.png")'><img>
                    <h2>Bowser</h2>
                </div>
                <div class="cardBack"><h2>Bowser</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face5" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/Gruntilda.jpg")'><img>

                    <h2>Gruntil</h2>
                </div>
                <div class="cardBack"><h2>Gruntil</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face6" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/Jax.jpg")'><img>
                    <h2>Jax</h2>
                </div>
                <div class="cardBack"><h2>Jax</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face7" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/JihlNabaat.jpg")'><img>
                    <h2>Jihn</h2>
                </div>
                <div class="cardBack"><h2>Jihn</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face8" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/Jinpachi.jpg")'><img>
                    <h2>Jinpachi</h2>
                </div>
                <div class="cardBack"><h2>Jinpachi</h2></div>
            </div>
        </div>



        <div class="card span2">
            <div id="face9" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/JohnnyCage.jpg")'><img>
                    <h2>Johnny</h2>
                </div>
                <div class="cardBack"><h2>Johnny</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face10" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/KoHoro.png")'><img>
                    <h2>Ko Horo</h2>
                </div>
                <div class="cardBack"><h2>Ko Horo</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face11" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/Kratos.png")'><img>
                    <h2>Kratos</h2>
                </div>
                <div class="cardBack"><h2>Kratos</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face12" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/Link.jpg")'><img>
                    <h2>Link</h2>
                </div>
                <div class="cardBack"><h2>Link</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face13" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/Mario.png")'><img>
                    <h2>Mario</h2>
                </div>
                <div class="cardBack"><h2>Mario</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face14" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/May.jpg")'><img>
                    <h2>May</h2>
                </div>
                <div class="cardBack"><h2>May</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face15" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/Nakiro.jpg")'><img>
                    <h2>Nakiro</h2>
                </div>
                <div class="cardBack"><h2>Nakiro</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face16" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/Oak.jpg")'><img>
                    <h2>Oak</h2>
                </div>
                <div class="cardBack"><h2>Oak</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face17" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/OldMushrom.jpg")'><img>
                    <h2>Mushrom</h2>
                </div>
                <div class="cardBack"><h2>Mushrom</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face18" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/PaulPhoenix.jpg")'><img>
                    <h2>Phoenix</h2>
                </div>
                <div class="cardBack"><h2>Phoenix</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face19" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/peach.png")'><img>
                    <h2>Peach</h2>
                </div>
                <div class="cardBack"><h2>Peach</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face20" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/Robotnik.jpg")'><img>
                    <h2>Botnik</h2>
                </div>
                <div class="cardBack"><h2>Botnik</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face21" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/Shujinko.jpg")'><img>
                    <h2>Shujinko</h2>
                </div>
                <div class="cardBack"><h2>Shujinko</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face22" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/sindel.jpg")'><img>
                    <h2>Sindel</h2>
                </div>
                <div class="cardBack"><h2>Sindel</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face23" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/Tanya.jpg")'><img>
                    <h2>Tanya</h2>
                </div>
                <div class="cardBack"><h2>Tanya</h2></div>
            </div>
        </div>
        <div class="card span2">
            <div id="face24" class="cardInfo">
                <div class="cardFront">
                    <img src='@routes.Assets.at("images/faces_videogames/wario.jpg")'><img>
                    <h2>Wario</h2>
                </div>
                <div class="cardBack"><h2>Wario</h2></div>
            </div>
        </div>
    </div>

    <div id="panel">

        <div id="onChat">
                <div id="main">
                    <div id="messages">
                    </div>
                    <input id="talk" type="text" placeholder="Chat here">
                </div>
        </div>

        <div id="questionPanel">
            <select id="questionAbout">
                <option value="">Category</option>

                <option value="sex">Sex</option>
                <option value="hair">Hair</option>
                <option value="glasses">Glasses</option>
                <option value="hat">Hat</option>
                <option value="mustache">Mustache</option>
                <option value="beard">Beard</option>
                <option value="nose">Nose</option>
            </select>
            <select id="askQuestions">
                <option value=",">Select a category first</option>

                <option value="brown,Does your card have brown hair?" class="hair">Brown hair?</option>
                <option value="black,Does your card have black hair?" class="hair">Black hair?</option>
                <option value="yellow,Does your card have blond hair?" class="hair">Blond hair?</option>
                <option value="white,Does your card have white hair?" class="hair">White hair?</option>
                <option value="orange,Does your card have white hair?" class="hair">Orange hair?</option>
                <option value="bald,Is your card bald?" class="hair">Is your card bald?</option>
                <option value="longHair,Does your card have long hair?" class="hair">Is your card bald?</option>

                <option value="male,Is your card a man?" class="sex">Is it a man?</option>

                <option value="glasses,Does your card wear glasses?" class="glasses">Is he/she wearing glasses?</option>

                <option value="hat,Does your card wear a hat?" class="hat">Is he/she wearing a hat?</option>

                <option value="nose,Does your card have a big nose?" class="nose">Is he/she wearing a hat?</option>

                <option value="mustache,Does he have a mustache?" class="mustache">Does he have a mustache?</option>

                <option value="beard,Does he have a beard?" class="beard">Does he have a beard?</option>
            </select>
            <button id="askBt" onclick="askQuestion()">Ask</button>
        </div>

        <div id="answerPanel">
            <button id="yesBt" onclick="answerQuestion('Yes')">YES</button>
            <button id="noBt" onclick="answerQuestion('No')">NO</button>
        </div>
    </div>

    <div id="cheatCounter">
        <h4>Lies Counter&nbsp;</h4>
        <h3 id="lies">0</h3>
    </div>

</div>

}