@(username: String)

@main(username) {
<input id="WSocketPath" value="@routes.Application.game(username).webSocketURL(request)" style="display: none;">
<div id="onError" class="alert-message error">
    <p>
        <strong>Oops!</strong> <span></span>
    </p>
</div>
<div id="onChat">
    <div id="main">
        <div id="messages">
        </div>
        <input id="talk">
    </div>
</div>
<div id="buttonPanel">
    <select id="questionAbout">
      <option value="">Ask About</option>
      <option value="hair">Hair</option>
      <option value="eyes">Eyes</option>
    </select>
    <select id="askQuestions">
      <option value="">Question</option>
      <option value="brown,Has brown hair?" class="hair">Has brown hair?</option>
      <option value="black,Has black hair?" class="hair">Has black hair?</option>
      <option value="bold,Is bold?" class="hair">Is bold?</option>
      <option value="blue,Has blue eyes?" class="eyes">Has blue eyes?</option>
      <option value="brown,Has brown eyes?" class="eyes">Has brown eyes?</option>
      <option value="green,Has green eyes?" class="eyes">Has green eyes?</option>
    </select>
    <button id="askBt" onclick="askQuestion()">Ask</button>
    <button id="infoBt" onclick="getServerInfo()">Server Info</button>
</div>
<script src="@routes.Assets.at("javascripts/jquery.chained.js")"></script>
<script type="text/javascript" charset="utf-8">$("#askQuestions").chained("#questionAbout");</script>

<script src="@routes.Assets.at("javascripts/WSocketServer.js")"></script>
}