@(username: String)

@main(username) {
    <input id="WSocketPath" value="@routes.Application.game(username).webSocketURL(request)" style="display: none;">

    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>

    <div id="onChat">
        <div id="main">
            <div id="messages">
            </div>
            <input id="talk" type="text" placeholder="Chat here">
        </div>
    </div>

    <script src="@routes.Assets.at("javascripts/jquery-1.7.2.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/WSocketServer.js")"></script>
    <script src="@routes.Assets.at("javascripts/jquery.chained.js")"></script>
    <script type="text/javascript" charset="utf-8">$("#askQuestions").chained("#questionAbout");</script>
}