@main(null) {



<div id="boardGame">

    <div class="card">
        <div id="face1" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face2" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face3" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face4" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face5" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face6" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face7" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face8" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face9" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face10" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face11" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face12" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face13" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face14" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face15" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face16" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face17" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face18" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face19" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face20" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face21" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face22" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face23" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
    <div class="card">
        <div id="face24" class="cardInfo">
            <img src=""><img>
        </div>
    </div>
</div>

<div id="onChat">
    <div id="main">
        <div id="messages">
        </div>
        <input id="talk" type="text" placeholder="Chat here">
    </div>
</div>

<div id="questionPanel">
    <select id="questionAbout">
        <option value="">Ask About</option>
        <option value="hair">Hair</option>
        <option value="eyes">Eyes</option>
    </select>
    <select id="askQuestions">
        <option value=",">Question</option>
        <option value="brown,Has brown hair?" class="hair">Has brown hair?</option>
        <option value="black,Has black hair?" class="hair">Has black hair?</option>
        <option value="bold,Is bald?" class="hair">Is bold?</option>
        <option value="blue,Has blue eyes?" class="eyes">Has blue eyes?</option>
        <option value="brown,Has brown eyes?" class="eyes">Has brown eyes?</option>
        <option value="green,Has green eyes?" class="eyes">Has green eyes?</option>
    </select>
    <button id="askBt" onclick="askQuestion()">Ask</button>
</div>

<div id="answerPanel">
    <button id="yesBt" onclick="answerQuestion('Yes')">YES</button>
    <button id="noBt" onclick="answerQuestion('No')">NO</button>
</div>
<div style="display: none;">
    {
    <button id="infoBt" onclick="getServerInfo()">Server Info</button>
    }
</div>


<script src="@routes.Assets.at("javascripts/jquery-1.7.2.min.js")"></script>
<script src="@routes.Assets.at("javascripts/WSocketServer.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.chained.js")"></script>
<script type="text/javascript" charset="utf-8">$("#askQuestions").chained("#questionAbout");</script>
}