@(connected: String)(content: Html)

<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Who is Who - An amazing online board game</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width">

    <link href="http://fonts.googleapis.com/css?family=Droid+Sans|Press+Start+2P" rel="stylesheet" type="text/css">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/W&Wicon.png")">

</head>
<body class="index pinstripe">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<div id="container">

    <section id="outer_layout">
        <!--outer layout starts here-->
        <section id="wrapper">
            <section id="inner_wrapper">
                <!--inner layout starts here-->

                <div id="wraparound">
                    <!--Wraparound effect for CSS-->
                    <div id="header">
                        <!--Header starts here-->
                        <div class="wrapper">
                            <div id="logo">

                                    <a href="@routes.Application.index()">
                                        <img src="@routes.Assets.at("images/logo.png")">
                                    </a>

                            </div>
                            <nav id="nav">
                               <!--Navigation bar starts here-->
                                <ul>
                                    <li>
                                        <a href="@routes.Application.aboutGame()" id="aboutLink">About the game</a>
                                    </li>

                                    <li>
                                        <a href="#" id="playLink">Play!</a>
                                    </li>

                                    <li>
                                        <a href="#" id="statsLink">My Stats</a>
                                    </li>
                                    <li>
                                        <a href="#" id="rankingLink">Ranking</a>
                                    </li>
                                    <li>
                                        <div id="loginLink">
                                        @if(connected != null) {

                                            <a href="@routes.Application.index()">@connected - Logout</a>

                                        } else {
                                          <a href="@routes.Application.index()">Login</a>
                                        }
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                            <!--Navigation bar ends here-->

                        </div>
                    </div>
                    <!--Header ends here-->
                </div>
                <!--End of wraparound-->




                <!--Content goes here-->
                <div class="layout">
                    @content
                </div>

                <section class="layout">
                <div>
                    @if(connected != null) {


                     } else {
                                            <form action="@routes.Application.chatRoom()"  id="loginForm">

                                                <input id="username" name="username" class="input-small" type="text" placeholder="Username">

                                                <button type="submit">
                                                    <img src="@routes.Assets.at("images/fb-connect.png")" alt="Connect with Facebook">
                                                </button>
                                            </form>
                                        }
                    </div>
                </section>

                <section class="layout">
                    <!--footer starts here-->
                    <footer>
                        <div class="wrapper">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#">Designed by W&W Team</a>
                                    </li>
                                </ul>
                            </nav>
                            <p>
                                &#169 2012 Universidad Austral
                            </p>
                        </div>
                    </footer>
                    <!--footer ends here-->
                </section>
                <!--inner layout ends here-->
            </section>
        </section>
        <!--outer layout ends here-->
    </section>
</div>

<script src="@routes.Assets.at("javascripts/plugins.js")"></script>

<script src="@routes.Assets.at("javascripts/script.js")"></script>

</body>
</html>
