@(connected: String)(content: Html)

<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta charset="utf-8">
    <meta namee="viewport" content="width=device-width">

    <title>Who is Who - An amazing online board game</title>


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/style.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/animate-custom.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/smoke.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/dark.css")'>

    <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/W&Wicon.png")'>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35973175-1']);
      _gaq.push(['_setDomainName', 'martosystem.dyndns.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body class="index pinstripe">
<!--[if IE]><h3 class=chromeframe>Your browser can't render this site. <a href="http://www.google.com/chromeframe/?redirect=true">Click to Fix it!</a></h3><![endif]-->

<div id="container">
    <section id="outer_layout">
        <section id="wrapper">
            <section id="inner_wrapper">
                <div id="wraparound">
                    <div id="header">
                        <div class="wrapper">
                            <div id="logo">
                                    <a href="@routes.Application.index()">
                                        <img src='@routes.Assets.at("images/logo.png")'>
                                    </a>
                            </div>
                            <nav id="nav">
                               <ul>
                                    <li>
                                        <a href="#" id="aboutLink">About</a>
                                    </li>

                                    <li>
                                        <a href="#" id="statsLink">Stats</a>
                                    </li>

                                    <li>
                                        <a href="#" id="rankingLink" onclick="loadRanking()">Ranking</a>
                                    </li>

                                    <li>
                                        <a href="#" id="playLink">Profile</a>
                                    </li>

                                    <li>
                                        <div id="loginLink">
                                        @if(connected != null) {
                                          <a href="@routes.Application.index()">@connected - Logout</a>
                                        } else {
                                          <a href="@routes.Application.index()">Login</a>
                                        }
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>



                <div class="layout">
                    @if(connected != null) {
                        @content
                </div>

                <section class="layout">
                    <div>




                     } else {
                    </div>

                    <section class="layout">
                        <div>

                    <div id="loginPage">
                        <form action="@routes.Application.chatRoom()" id="loginForm" class="animated fadeInDown">
                            <fieldset>
                                <legend>Enter your username</legend>
                                <input id="username" name="username" maxlength="8" class="input-small" type="text" placeholder="Username">

                                <button type="submit" onclick="validateUsername()">
                                    <img src='@routes.Assets.at("images/fb-connect.png")' alt="Connect with Facebook">
                                </button>
                            </fieldset>
                        </form>
                    </div>
                    }
                </div>
                </section>

                <section class="layout">
                    <footer id="pageFooter">
                        <div class="wrapper">
                            <p id="designed">
                               Designed by W&W Team
                            </p>
                            <p id="license">
                                Creative Commons License
                                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.es_ES">
                                    <img alt="Licencia de Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" />
                                </a>
                            </p>
                        </div>
                    </footer>
                </section>
            </section>
        </section>
    </section>
</div>

</body>
</html>
